/**{
    margin: 10px;
    font-family: sans-serif;
    box-sizing: border-box;
}*/
body{
    display: flex;
    min-height: 100vh;
    background-image: url('../images/bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



form{
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    width: 50%;
    max-width: 500px;
    background: purple;
    border: 1px solid rgba(0,0,0,0,2);
    border-radius:20px;
}

label{
    color: white;
}

h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    color:  pink;
}
input{
    display: block;
    padding: 5px;
    width:  100%;
    margin-bottom: 20px;
    font-size: 15px;
    
}
input[type="submit"]{
    background:  yellow;
    border: 0;
    color: black;
  font-weight:bold;
    opacity: 0,8;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}
input[type="submit"]:hover {
    opacity: 2;
}
input[type="submit"]:active {
    transform: scale(0.95);
}
@media (max-width:768px){
    form{
    width: 75%;    
    }
}
@media (max-width:480px){
    form{
    width: 95%;    
    }
}

/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}*/

.login {
  padding: 10px;
  font-size: 16px;
  background: #456;
  margin-top: 40px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

 .w3container {
      margin:0px auto;
      margin-top:80px;
      width:90%;

  }
  /* Float four columns side by side */
  .w3column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .w3row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .w3row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 991px) {
    .w3column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  .brand-logo{
    font-size: 20px;
  }
}
  
  /* Style the counter cards */
  .w3card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    background-color: cyan;
    min-width:100px;
    height:250px;
    line-height: 30px;
    transition:0.5s ease;
  }
.w3card p{
  font-size: 20px;
}
.w3card:active{
  transform: translateY(10px);
}

.w3card:hover {
  color:steelblue;
}
.w3column a {
  color :#333;
  text-decoration: none;
}

button{
  margin: 0;
  padding: 0;
}

h3{
  padding-top: 50px;
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid black;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: black;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}