html{
	--bg:white;
	--color-text:black;
}

.navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
     outline: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
}
button:focus{
	outline: none;
}

.theme{
	--bg:black;
	--color-text:white;
}


a{
	text-decoration: none;
	color: var(--color-text);
}
a:hover{
	color: var(--color-text);
	text-decoration:line-through;
}

body{
	background-color: var(--bg);
	color: var(--color-text);
}

.container{
	margin: 0;
	padding: 0;
}

#container{
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	margin-top:50px;
	padding: 0;
}

h1{
	color: var(--color-text);
	margin: 0;
	padding:10px;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: normal;
	text-align:center;
}
h4{
	color: var(--color-text);
}

ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

li{
	color: var(--color-text);
	font-family: sans-serif;
	margin: 0;
	padding: 15px;
	font-size: 24px;
	line-height: 20px;
	font-weight: normal;
}

span{
	text-align: center;
	display: inline-block;
	float: right;
	outline: none;
}

button{
	margin: 0;
	padding: 0;
	outline: none;
	box-shadow: none;
	border: none;
	background-color: var(--bg);
	color: var(--color-text);
}

.completed {
	background-color: var(--bg);
	color: var(--color-text);
	text-decoration: line-through;
}

li a{
	color: var(--color-text);
	text-decoration: none;
}

hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-color: var(--color-text);
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 20px;
	position: relative;
	margin-right: 10px;
}

label:after {
	content: '';
	position: absolute;
	left: 2px;
	width: 25px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

input:checked + label {
	background: steelblue;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-50%);
}

label:active:after {
	width: 20px;
}

a{
	color: steelblue;
	text-decoration: none;
}

input{
	box-sizing: border-box;
}

input:focus{
	background-color: white;
	border: 2px solid #2980b9;
	outline: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  
}

.icon {
  padding: 5px;
  color: var(--color-text);
  min-width: 20px;
  text-align: center;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 5px;
  margin: 0;
  font-size: 20px;
}

.input-field:focus {
  border: 2px solid var(--color-text);
}

.loader-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--color-text);
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--color-text);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--color-text); /* Black background color */
  color: var(--bg); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

