/*body{
	background-color: black;
}

#container{
	
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	
	margin: 0;
	padding: 0;
	background-size: cover;
}

h1{
	background-color: black;
	margin: 0;
	padding:10px;
	text-transform: uppercase;
	font-size: 36px;
	color: white;
	font-weight: normal;
	text-align:center;
}

ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

li{
	color: black;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 50px;
}

li:nth-child(2n){
	background-color: rgba(0, 0, 0, 0.5);
}

button{
	margin: 0;
	padding: 0;
	outline: none;
	background-color: dodgerblue;
}

span{
	color: red;
	padding: 2px;
	text-align: center;
	display: inline-block;
	float: right;
}

#delete{
	float: right;
}

.completed {
	color: rgb(0, 100, 0);
	text-decoration: line-through;
}*/

body{
	background-color: white;
}

#container{
	/*width: 500px;
	margin: 100px auto;*/
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	/*border: 1px solid gray;*/
}

h1{
	background-color: white;
	margin: 0;
	padding:10px;
	text-transform: uppercase;
	font-size: 36px;
	color: black;
	font-weight: normal;
	text-align:center;
}

ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

li{
	color: black;
	font-family: sans-serif;
	margin: 0;
	padding: 20px;
	font-size: 24px;
	background-color: #fff;
	line-height: 20px;
	font-weight: normal;
}

li:nth-child(2n){
	background-color: white;
}

span{
	color: black;
	/*padding: 5px;*/
	text-align: center;
	display: inline-block;
	float: right;
	outline: none;
}

button{
	margin: 0;
	padding: 0;
	background-color: white;
	outline: none;
	box-shadow: none;
	border: none;
}

.completed {
	color: rgb(0, 200, 0);
	text-decoration: line-through;
}

li a{
	color: black;
	text-decoration: none;
}

hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-color: black;
}

input{
	box-sizing: border-box;
}

input:focus{
	background-color: #fff;
	border: 2px solid #2980b9;
	outline: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  
}

.icon {
  padding: 10px;
  
  color: black;
  min-width: 20px;
  text-align: center;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 0 auto;
  font-size: 24px;
}

.input-field:focus {
  border: 2px solid white;
}

input{
	box-sizing: border-box;
}

input:focus{
	background-color: #000;
	border: 2px solid #2980b9;
	outline: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  /*margin-bottom: 15px;*/
}

.icon {
  padding: 5px;
  background: black
  color: white;
  min-width: 30px;
  text-align: center;
  margin: 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 0 auto;
  font-size: 24px;
}

.input-field:focus {
  border: 2px solid white;
}