body{
	background-color: steelblue;
}

#container{
	/*width: 500px;
	margin: 100px auto;*/
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	/*border: 1px solid gray;*/
}

h1{
	background-color: gray;
	margin: 0;
	padding:20px;
	text-transform: uppercase;
	font-size: 48px;
	color: white;
	font-weight: normal;
	text-align:center;
}

ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

li{
	color: black;
	font-family: cursive;
	margin: 0;
	padding: 10px;
	font-size: 36px;
	background-color: #fff;
	line-height: 50px;
}

li:nth-child(2n){
	background-color: #f7f7f7;
}

button{
	margin: 0;
	padding: 0;
	outline: none;
	background-color: dodgerblue;
}

span{
	color: red;
	padding: 2px;
	text-align: center;
	display: inline-block;
	float: right;
}

#delete{
	float: right;
}

.completed {
	color: rgb(0, 100, 0);
	text-decoration: line-through;
}

input{
	box-sizing: border-box;
}

input:focus{
	background-color: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 30px;
  text-align: center;
  margin: 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 0 auto;
  font-size: 36px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}