<!DOCTYPE html>
<html>
{% load pwa %}
<head>
	{% progressive_web_app_meta %}
	<title>Todo List</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/todos.css">
	<script type="text/javascript" src="static/js/lib/jquery-3.5.1.min.js"></script>
	<link rel="manifest" href="manifest.json">
</head>
<body>

	<div id="container">
		<h1>To-Do List</h1>
	<form action="add" method="POST">
		{% csrf_token %}
		<div class="input-container">
	    <input class="input-field" type="text" placeholder="Add a todo.." name="todo">
	    <button id="add" type="submit"><i class='fa fa-plus-circle fa-5x icon' id='add' aria-hidden='true'></i></button>
	    </div>
	</form>

	<ul>
	
	{% for items in data %}

	<form action="/delete/{{ items.id }}/" method="POST">
	{% csrf_token %}
	<li>{{ items.title }}<button type="submit" class="btn btn-lg" style="outline: none; float: right;"><span id="delete"><i class="fa fa-trash fa-4x" id="add" aria-hidden="true"></i></span></button></li>
	</form>
	{% endfor%}
	
    </ul>
	</div>


<script type="text/javascript" src="static/js/todos.js"></script>
</body>
</html>