{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
	<script type="text/javascript">
		
	$(window).on("load",function(){
		$(".loader-wrapper").fadeOut("slow")
	});
	</script>
</head>
<body>
<div class="container">
	<div id="error" class="container" style="display: none; margin-top:25px; margin-left: 25%; margin-right: 25%;">
			<div class="alert alert-danger alert-dismissible fade show row" >
				<div class="col-md-12">
		          	<strong><h1>Warning!</h1></strong>
			      	<ol>
			          {% for i in warning %}
			          <li>{{i}}</li>
			          {% endfor %}
			      	</ol>
		      	</div>
		    </div>
			</div>
			<div class="loader-wrapper">
				<span class="loader"><span class="loader-inner"></span></span>
			</div>
			
    <div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Login</h2>

	 <form action="signin" method="POST" class="login-container">
	 	{% csrf_token %}
    <p><input type="text" placeholder="Username" name="username"></p>
    <p><input type="password" placeholder="Password" name="password"></p>
    <p><input type="submit" value="Let's Go"></p>
  </form>
</div>
</div>
	</div>
	

<script type="text/javascript">
	error = document.getElementById("error");
	{% if warning %}
		error.style.display ='block';
	{% endif %}
</script>

</body>
</html>